<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links)">
    <meta charset="UTF-8">
    <title th:replace="${title}">The awesome application</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/assets/font-roboto/css/roboto.css}">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/3.3.5/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/assets/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/resources/assets/css/style.css}">
    <th:block th:replace="${links}"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/webjars/html5shiv/3.7.0/html5shiv.min.js}"></script>
    <script th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<header style="overflow: hidden" th:fragment="header">
    <div class="right_buttons">
        <div class="comp pull-right show-logout" style="width: 100px; ">
            <div
                    th:classappend="${#authorization.expression('isAuthenticated()')}? fadeLoginRegister">
                <a th:href="@{/login}" class="hdr-btn">
                    Login
                </a>
            </div>
        </div>

        <div class="comp pull-right" style="width: 100px;">
            <div th:classappend="${#authorization.expression('isAuthenticated()')}? fadeLoginRegister">
                <a th:href="@{/register}" class="hdr-btn">
                    Register
                </a>
            </div>
        </div>
        <div class="comp pull-right" style="width: 100px">
            <form id="logoutForm" method="post" th:action="@{/logout}">
                <button class="hdr-btn" style="display:inline;border:none;background-color: transparent">Logout</button>
                <input type="hidden"
                       name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
        </div>
        <div class="comp pull-right" style="width: 100px">
            <button class="demo-button">
                <a th:href="@{/demo}" class="hdr-btn">
                    Demo
                </a>
            </button>
        </div>
        <div class="comp pull-right show-logout" style="width: 100px; ">
            <div>
                <a th:href="@{/}" class="hdr-btn">
                    Home
                </a>
            </div>
        </div>
    </div>
</header>
<div th:fragment="common_scripts(scripts)">
    <script th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery-backstretch/2.0.4/jquery.backstretch.min.js}"></script>
    <script th:src="@{/resources/assets/js/scripts.js}"></script>
    <!--[if lt IE 10]>
    <script th:src="@{/resources/assets/js/placeholder.js}"></script>
    <![endif]-->
</div>
</body>
</html>